@model IEnumerable<ArquiaIT.Models.Business.Spend>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}
&nbsp;
<p>
    @Html.ActionLink("Ingresar Gasto", "Create", "Spends", new { invoiceID = ViewData["InvoiceID"] }, null)
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Vendor).Titled("Cliente").Filterable(true);
    columns.Add(c => c.InvoiceNumber).Titled("Número Fact").Filterable(true);
    columns.Add(c => c.Description).Titled("Descripción").Filterable(true);
    columns.Add(c => c.SpendMonth).Titled("Mes").Filterable(true);
    columns.Add(c => c.InvoiceDate.Year).Titled("Año").Filterable(true);
    columns.Add(c => c.InvoiceDate).Titled("Fecha").Filterable(true).Format("{0:dd/MM/yyyy}");
    columns.Add(c => c.InvoiceValue).Titled("Valor Sin IVA").Filterable(true).Format("{0:c}");
    columns.Add(c => c.IVA).Titled("IVA").Filterable(true).Format("{0:c}");
    columns.Add(c => c.InvoiceTotal).Titled("Total").Filterable(true).Format("{0:c}");
    columns.Add(c => c.PayDate).Titled("FechaPago").Filterable(true).Format("{0:dd/MM/yyyy}");
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(c => Html.ActionLink("Editar", "EditFromInvoice", "Spends", new { id = c.Id }, null));
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(c => Html.ActionLink("Ver", "DetailsFromInvoice", "Spends", new { id = c.Id }, null));
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(c => Html.ActionLink("Eliminar", "DeleteFromInvoice", "Spends", new { id = c.Id }, null));
}).WithPaging(50).Sortable(true)


        