body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.Warning
{
    color:red;
    font-family:VVerdana, 'Times New Roman', serif;
    font-weight:bold;
    font-style:italic;
    text-decoration: underline;
    font-size: large;
    margin-left: 15vh;
    margin-bottom: 5vh;
}

footer p 
{
    text-align:right;
}
