@{
    ViewBag.Title = "Administration";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("User Administration", "ListUsers", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li></li>
</ul>