@model IEnumerable<ArquiaIT.Models.Business.PurchaseOrder>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}

<h2>Ordenes de Compra</h2>

<p>
    @Html.ActionLink("Nueva Orden de Compra", "Create")
</p>

@Html.Grid(Model).Columns(columns =>
{
    columns.Add(c => c.Client.Name).Titled("Cliente").Filterable(true);
    columns.Add(c => c.PONumber).Titled("Número").Filterable(true);
    columns.Add(c => c.Month).Titled("Año").Filterable(true);
    columns.Add(c => c.Date).Titled("Mes").Filterable(true).Format("");
    columns.Add(c => c.IsDolar).Titled("Dolar").Filterable(true);
    columns.Add(c => c.ChangeRate).Titled("Cambio").Filterable(true).Format("{0:c}");
    columns.Add(c => c.POTotalInPesos).Titled("Total AR$").Filterable(true).Format("{0:c}");
    columns.Add(c => c.POTotalInDollars).Titled("Total U$D").Filterable(true).Format("{0:c}");
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(c => Html.ActionLink("Editar", "Edit", new { id = c.Id }));
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(c => Html.ActionLink("Ver", "Details", new { id = c.Id }));
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(c => Html.ActionLink("Eliminar", "Delete", new { id = c.Id }));
}).WithPaging(50).Sortable(true)



