@model IEnumerable<ArquiaIT.Models.Business.Client>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}


<h2>Clientes</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "Create")
</p>

<hr />
<div style="width:1000px;">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.Name).Titled("Nombre").Filterable(true);
        columns.Add(c => c.CUIT).Titled("CUIT").Filterable(true);
        columns.Add(c => c.Address).Titled("Dirección").Filterable(true);
        columns.Add(c => c.Active).Titled("Activo").Filterable(true);
        columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(c => Html.ActionLink("Editar", "Edit", new { id = c.Id }));
        columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(c => Html.ActionLink("Detalles", "Details", new { id = c.Id }));
        columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(c => Html.ActionLink("Borrar", "Delete", new { id = c.Id }));
    }).WithPaging(50).Sortable(true)
</div>
