@{
    ViewBag.Title = "Home Page";
}

<div style="background-color: #eeeeee;">
    <div class="row">
        <div class="col-md-4" >
            <p>
                <a href="/PurchaseOrders/Index">
                    <img src="~/Images/PO.png" class="Menu-Button" />
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <a href="/Invoices/Index">
                    <img src="~/Images/Invoices.png" class="Menu-Button" />
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>
                <a href="/Clients/Index">
                    <img src="~/Images/Clients.png" class="Menu-Button" />
                </a>
            </p>
        </div>
        <div class="col-md-4">
            <p>
                <a href="/Home/Administration">
                    <img src="~/Images/Administration.png" class="Menu-Button" />
                </a>
            </p>
        </div>
    </div>
</div>