
@{
    ViewBag.Title = "View";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Usuarios", FormMethod.Post))
{

    <div class="form-group">
        @Html.Label("Nombre:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" id="nombre" name="nombre" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Password:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="password" id="password" name="password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn btn-default" />
        </div>
    </div>
}


