<h2>SetNewPassword</h2>

@using (Html.BeginForm("SetNewPassword", "Usuarios", FormMethod.Post))
{
    <label>New Password:</label>
    <input type="password" id="newPassword" name="newpassword" />
    <input type="submit" />
}

<hr />